@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Montserrat&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(90, 89, 89);
  margin: 0;
  text-align: center;
}

header {
  background-color: rgb(21, 21, 21);
  padding: 0px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  font-family: "McLaren", cursive;
  text-align: center;
  height: 5rem;
}

header a {
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 0px;
  text-decoration: none;
}

.web-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  margin: auto 50px;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  transition-duration: 0.5s;
}

.nav-links a:hover {
  color: rgb(119, 115, 115);
}

.signup a {
  border: solid;
  border-radius: 6px;
  border-color: rgb(168, 167, 167);
  border-width: 1px;
  padding: 4px 8px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  gap: 20px;
  bottom: 0;
  background-color: rgb(21, 21, 21);
}

.footer-icons {
  display: flex;
  gap: 10px;
}

footer p {
  display: flex;
  color: #969595;
}
