@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Montserrat&display=swap");

header {
  background-color: rgb(41, 40, 40);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  font-family: "McLaren", cursive;
  text-align: center;
}

header a {
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 0px;
  text-decoration: none;
}

.nav-links {
  margin: auto 50px;
  text-decoration: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.signup a {
  border: solid;
  border-radius: 6px;
  border-color: rgb(168, 167, 167);
  border-width: 1px;
  padding: 4px 8px;
}

footer {
  display: flex;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #969595;
}
